/* *{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
*{
    /* scroll-behavior:smooth */
}
 
.tab {
padding: 0px;
}
ion-slide{
    display: block;
    
}
link,Link,ion-router-link{
    text-decoration: none;
   
}



.swiper-slide{
    transition: .3s;

}
ion-avatar.profile-ava{
    width:40px;
    height: 40px;
    margin-right: 20px;
}
ion-segment-button ion-label{
    font-size: 12px;
}
ion-footer ion-segment{
    /* --background:#0d2c6d; */
}

.page-slides ion-slide{
   display: block;
}
div.tour-container,div.home-container,
div.gist-container
{
    overflow-y: scroll;
    height: 100vh;
}

.tour-slides ion-chip{
 box-shadow: 2px 2px 5px rgba(0,0,0,.34);
}
.Tour-content{
   background-color:rgb(144, 144, 202);
}
.floor-container{
    height: 400px;
    
 }