.container{
 
 }
.img{
     height: 170px;
     margin-bottom: 10px;
 }
.dp{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
 }
 .grid{
     margin-bottom: 20px;
 }